@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@theme {
  --font-manrope: "manrope", sans-serif;
  --color-button-bg: oklch(0.43 0.1 158.9);
  --color-button-color: rgb(255 255 255);
}
